{{> header}}
<div class="container">
    <div class="title_font">
        <h2 class="text-center"><i>Đổi mật khẩu</i></h2>
    </div>
    <div class="row shadow bg-white mt-4" style="border-radius: 20px;height:500px">
        <div class="col-lg-5 d-none d-lg-block">
            <img class="w-100 h-100 ml-4"  style="border-radius:30px" src="images/changepassword.jpg" >
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-4 offset-xl-1">
            <form action="/changepassword" method="post" class="mt-5">
                <!-- Confirm password 1 input -->
                <div class="form-group mb-4">
                    <label class="form-label" for="oldpass">Nhập password cũ</label>
                    <input onclick="clearErrorMessage()" type="password" name="oldpass" id="oldpass" class="form-control form-control-lg" />
                </div>
                <!-- Confirm password 1 input -->
                <div class="form-group mb-4">
                    <label class="form-label" for="confirm1">Nhập password mới</label>
                    <input onclick="clearErrorMessage()" type="password" name="confirm1" id="confirm1" class="form-control form-control-lg" />
                </div>
                <!-- Confirm password 2 input -->
                <div class="form-group mb-4">
                    <label class="form-label" for="confirm2">Xác nhận password mới</label>
                    <input onclick="clearErrorMessage()" type="password" name="confirm2" id="confirm2" class="form-control form-control-lg" />
                </div>
                {{#if flash}}
                    <div class="form-group">
                        <div id="errorMessage" class="alert alert-{{flash.type}} alert-dismissible fade show" id="errorMessage">
                        {{!-- <button type="button" class="close" data-dismiss="alert">&times;</button> --}}
                        {{flash.message}}
                        </div>
                    </div>
                {{/if}}                          
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-lg gradient-custom">Xác nhận</button>
                <a href="/" class="btn btn-secondary btn-lg  gradient-custom">Hủy</a>
            </form>
        </div>
    </div>
</div>
{{> footer}}