.logo
{
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    color:lightskyblue;
}
.logo:hover
{
    background-color: white;
    border-radius: 20px;
    font-size: 25px;
    background: lightskyblue;
    color:white;
    text-shadow: 2px 2px 5px red;
}
body
{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,180,233,1) 100%);
}


table{
    margin-bottom: 150px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    border-radius: 20px;
}
ul ul a {
    color: white;
    font-size: 15px;
    padding-left: 30px;
    background: rgb(1, 112, 112);
}
.dropdown-toggle::after {
    display: block;
	position: absolute;
    transform: translateY(-50%);
	top: 50%;
	color: black;
    right: 20px;
}
a[data-toggle="collapse"] {
    position: relative;
}
.navbar {
    padding: 15px 10px;
    border-radius: 20px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
    background: linear-gradient(to right, #ddd6f3, #faaca8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* sidebar */

.wrapper {
    width:100%;
    align-items:stretch;
	display:flex;
}

/* ---------------------------------------------------
    nội dung
----------------------------------------------------- */

#content {
	min-height:100vh;
    width:100%;
    padding:20px;
}

.hoder {
    font-size: 0.9rem;
}
.hoder div div{
    background-color: lightgray;
}
.hoder div div:hover{
    background-color: silver;
}
.me {
    font-size: 0.9rem;
    margin-left: auto;
}
.me div div:hover{
    background-color:rgb(44, 164, 150);
}
.me div div{
    background-color:mediumturquoise;
}
.list-user-chat-item
{
    border-radius: 20px;
    background-color: white;
    height: 60px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.list-account-grid
{
    list-style:none;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    grid-gap:0.6rem;
}
.list-account-grid-item
{
    display: flex;
}

Edit in JSFiddle
Result
HTML
CSS
JavaScript
Resources
/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  width: 15px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

.text-small {
  font-size: 0.9rem;
}
.chatradius{
    border-radius: 20px;
}
.messages-box{
    height: 550px;
    overflow-y: scroll;
  }
.chat-box {
  height: 490px;
  overflow-y: scroll;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}