.logo
{
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    color:lightskyblue;
    &:hover
    {
        background-color: white;
        border-radius: 20px;
        font-size: 25px;
        background: lightskyblue;
        color:white;
        text-shadow: 2px 2px 5px red;
    }
}
